



.circle{
    position: relative;
    height: 450px;
    width: 1000px;
    background: dimgray;
    border-bottom-left-radius: 450px;
    border-bottom-right-radius: 450px;
    border: 15px;
    border-bottom: 0;
    box-shadow: black;
    
    left: 200px;

}
#icon{
    position: absolute;
    opacity: 0.7;
    top: 70%;
    left: 65%;
    right: 20%;
    
}
#icon2{
    position: absolute;
    opacity: 0.7;
    top: 70%;
    left: 70%;
    right: 25%;
}
#icon2:hover{
    opacity: 100%;
}
#icon:hover{
    opacity: 100%;
}



.headline {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    color: black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 200px;
    font-weight: bolder;
   
} 
.subtitle{
    position: absolute;
    top: 55%;
    left: 40% ;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
}
body{
    background-image: url(https://raw.githubusercontent.com/gabriel-rausch/EIA1-Material/master/L03/task_material/images/bg.png);
    text-align: center;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
    main {
        
        position: absolute;
        text-align: center;
        color: black;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: large;
        top: 60%;
        left: 20%;
        right: 20%;
    }
    h2{
        color: dimgray;
        text-align: left;
        
    }
 ul, p {
    color: black;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    text-align: center;
    color:dimgray;
    font-size: 20px;
    

}
a:hover{ 
    color: grey;
    transition: 0,4;
}
.navbar  {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    right: 50px;
    background-color: black;
    padding: 150px;
    padding-top: 0;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
}
.currentpage{
    color: dimgray;
}

.link {
    color: whitesmoke;
}
form{
    text-align: left;
    font-size: larger;
    margin: auto;

}

input{
    background-color: white;
    font-size: larger;

}
::placeholder{
    color: grey;
    font-size: small;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 9px;
    
}
.text{
    font-size: 12px;
}
.nachricht{
    padding: 40px;
    padding-top: 0;
    padding-left: 0;
}
.button{
    background-color: gray;
    color: whitesmoke;
}
.button:hover{
    
    background-color: black;
    opacity: 0.8;
}
.box1 {
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}