body {
    
    background-color: black;
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
a:hover {
    color: white; 
    

}