.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
body{
    background-image: url("assets/Material9/bg.png");
}
.card{
    position: relative;
    background-image: url("assets/Material9/wrapperbg.png");
    top: 200px;
    left: 40px;
}
h1{
    position: absolute;
    top: 40px;
    left: 80px;
    color: whitesmoke;
}
p{
    position: absolute;
    display: block;
    color: whitesmoke;
    left: 60px;
    top: 150px;
}
.paragraph{
    position: absolute;
    top: 190px;
    left: 60px;
}
h4{
    position: absolute;
    top: 220px;
    left: 60px;
    color: whitesmoke;
}
h4 + p{
    position: absolute;
    top: 250px;
    left: 60px;
    font-style: italic;
    font-family: fantasy;
}
.banderole{
    position: absolute;
    bottom: 0;
    right: 0;
}
.snow1{
    position: absolute;
    top: 0;
    right: 80px;
    
    
    

    animation-duration: 8s;
    animation-delay: 0s;
    
    animation-name: slidein;
    animation-iteration-count: infinite;
}
@keyframes slidein {
    from{
        top: 0;
        right: 80px;
        opacity: 1;
        
    }
    to{
        top: 360px;
        right: 80px;
        opacity: 0;
    }
}
.snow2{
    position: absolute;
    top: 0;
    left: 40px;
    

    animation-delay: 0.5s;
    animation-duration: 8s;
    animation-name: slidein2;
    animation-iteration-count: infinite;
}
@keyframes slidein2 {
    from{
        top: 0;
        left: 40px;
        opacity: 1;
    }
    to{
        top: 360px;
        left: 40px;
        opacity: 0;
    }
}
.snow3{
    position: absolute;
    top: 0;
    left: 200px;
    opacity: 0;
   

    animation-duration: 8s;
    animation-delay: 1.5s;
    animation-name: slidein3;
    animation-iteration-count: infinite;
   
}   
@keyframes slidein3 {
    from{
        top: 0;
        left: 200px;
        opacity: 1;
    }
    to{
        top: 360px;
        left: 200px;
        opacity: 0;
    }
}
.snow4{
    position: absolute;
    top: 0;
    left: 300px;
    opacity: 0;
   

    animation-duration: 8s;
    animation-delay: 1s;
    animation-name: slidein4;
    animation-iteration-count: infinite;
   
}
@keyframes slidein4 {
    from{
        top: 0;
        left: 300px;
        opacity: 1;
    }
    to{
        top: 360px;
        left: 300px;
        opacity: 0;
    }
}