.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
body{
    background-image: url();
}
.card{
    position: relative;
    background-image: url();
    top: 200px;
    left: 40px;
}