body{ 
    background-image: url("./assets/Material1/bg.png");
}

.flexbox{ 

    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.card{
    position: relative;
    background-image: url("./assets/Material1/wrapperbg.png");
    top: 200px;
    left: 40px;
}
.plant{
    position: absolute;
    top: -50px;
    left: -70px;
}
.pinguin{
    position: absolute;
    bottom: -15px;
    right: -10px;
}
h1{
    position: absolute;
    top: 40px;
    left: 80px;
    color: whitesmoke;
}
p{
    position: absolute;
    display: block;
    color: whitesmoke;
    left: 60px;
    top: 150px;
}
.paragraph{
    position: absolute;
    top: 190px;
    left: 60px;
}
h4{
    position: absolute;
    top: 220px;
    left: 60px;
    color: whitesmoke;
}
h4 + p{
    position: absolute;
    top: 250px;
    left: 60px;
    font-style: italic;
    font-family: fantasy;
}
